@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
  }

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-XBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "AktivGrotesk";
    src: url('/fonts/AktivGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    unicode-range: U+0000-00FF;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
  }

  /* Disable scrolling while loading */
body.loading {
    overflow: hidden;
  }
  
  .loader {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
  }
    .loader::after,
    .loader::before {
      content: '';
      width: 10px;
      height: 1px;
      background: #FFF;
      position: absolute;
      top: 9px;
      right: -2px;
      opacity: 0;
      transform: rotate(-45deg) translateX(0px);
      box-sizing: border-box;
      animation: coli1 0.3s linear infinite;
    }
    .loader::before {
      top: -4px;
      transform: rotate(45deg);
      animation: coli2 0.3s linear infinite;
    }
  
  @keyframes animFw {
      0% {
    width: 0;
  }
      100% {
    width: 100%;
  }
    }
  
  @keyframes coli1 {
      0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
      100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
    }
  
  @keyframes coli2 {
      0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
      100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
    }
    