@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF;
}
#root {
  background-color: #eeeeea;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-XBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("/fonts/AktivGrotesk-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "SFpro";
  src: url("/fonts/SF-Pro-Text-Regular.otf");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "SFpro";
  src: url("/fonts/SF-Pro-Text-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0000-00FF;
}

@media (min-width: 1600px) and (max-width: 1750px) {
  .oneone {
    font-size: 54px !important;
    font-family: "SFpro" !important;
  }
  .oneimg {
    margin-top: 5% !important;
  }
  .onetwo {
    font-size: 30px !important;
  }
  .twoone {
    font-size: 54px !important;
  }
  .twoimg {
    margin-top: 5% !important;
  }
  .twothree {
    height: 87% !important;
  }
  .threeone {
    font-size: 54px !important;
  }
  .threetwo {
    font-size: 30px !important;
  }
  .fgbidcjk {
    font-size: 30px !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

/* Disable scrolling while loading */
body.loading {
  overflow: hidden;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

@media (min-width: 768px) and (max-width: 2200px) and (min-resolution: 1.25dppx) {
  .text-container {
    font-size: 1rem;
  }
  .thisisassclasss {
    font-size: 20px !important;
  }
  .thisisassclassstwo {
    font-size: 40px !important;
  }
  .coolbotonoe {
    left: 8% !important;
  }
  .coolbototwo {
    right: 9% !important;
  }
  .coolbotthree {
    right: 6% !important;
    bottom: 50% !important;
  }
  .coolbotfour {
    left: 6% !important;
    bottom: 40% !important;
  }
  .coolbotofive {
    left: 63% !important;
  }
  .paddgay {
    padding-top: 23px !important;
  }
  .paddgaytwo {
    padding-top: 0px !important;
  }
  .paddgaythree {
    gap: 2rem !important;
  }
  .expppppp {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    width: 400px !important;
  }
  .uppercaseok {
    font-size: 20px !important;
  }
  .findthewayss{
    font-size : 44px !important;
  }
  .uppercaseok {
    line-height: 2rem !important;
  }
  .finfffffffffffffffff{
    width: 530px !important;
  }
 
.fgnfrthdfx{
  margin-top : -240px !important;
}
}
@media (min-width: 768px) and (max-width: 2200px) and (min-resolution: 1.5dppx) {
  .dgbrdfgdezrfxgf{
    width: 450px !important;
  }
  .textgenfi{
    font-size : 40px !important;
  }
  .textgenfiff{
    font-size : 18px !important;
  }
  .botbond{
    width: 646px !important;
  }
  .oneimg {
    margin-top: 7% !important;
  }
  .text-container {
    font-size: 1rem;
  }
  .thisisassclasss {
    font-size: 14px !important;
  }
  .thisisassclassstwo {
    font-size: 30px !important;
  }
  .macccc{
    max-width: 100% !important;
  }
  .coolbotonoe {
    left: 0% !important;
  }
  .coolbototwo {
    right: 1% !important;
  }
  .coolbotthree {
    top: 30% !important;
    right: 0% !important;
  }
  .coolbotfour {
    top: 40% !important;
    left: 0% !important;
  }
  .coolbotofive {
    left: 63% !important;
  }
  .paddgay {
    padding-top: 23px !important;
  }
  .paddgaytwo {
    padding-top: 0px !important; 
  }
  .paddgaythree {
    gap: 10px !important;
  }
  .expppppp {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    width: 400px !important;
  }
  .uppercaseok {
    line-height: 2rem !important;
  }
  .hahabot{
    padding : 15px !important;
  }
  .findthewayss{
    font-size : 35px !important;
  }
  .fgnfrthdfx{
    margin-top : -210px !important;
  }
  .finfffffffffffffffff{
    width: 450px !important;
  }
  .findthewayss{
    margin-top : 12px !important;
  }

}

@media (min-width: 768px) and (max-width: 2200px) and (min-resolution: 1.1dppx) {
  .paddgay{
    padding : 0px !important;
  }
  .finfffffffffffffffff{
    width: 600px  ;
  }
}

.expppppp { 
  height: 62px !important;
  margin-top: 13px !important;
}
.findthewayss{
  margin-top : 5px  ;
}

.opacity-100 {
  opacity: 1;
}
.opacity-0 {
  opacity: 0;
}
.translate-y-0 {
  transform: translateY(0);
}
.translate-y-negative {
  transform: translateY(-60px);
}
